<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Shop </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngFor="let product of products">
    <ion-card>
      <img alt="Silhouette of mountains" src="{{product.image}}" />
      <ion-card-header>
        <div class="card-container">
          <ion-card-title>{{product.name}}</ion-card-title>
          <ion-button routerLink="/shop/details/{{product.id}}">Details</ion-button>
        </div>
        <ion-card-subtitle>${{product.price}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>Stock: {{product.stock}} </ion-card-content>
    </ion-card>
  </div>
</ion-content>
